.ff-georgia {
    font-family: Georgia, serif;
}
.bg-darkblue {
    background-color: #384c74;
}
.btn-green {
    color: #fff;
    background-color: #8cb03a;
    border-color: #8cb03a;
}
.btn-green:hover {
    color: #fff;
    background-color: #7a9932;
    border-color: #7a9932;
}
.alert-green {
    color: #5b7225;
    background-color: #e8f1d5;
    border-color: #b9d47f;
}
.alert-blue {
    background-color: #eaeefd;
    color: #3d64d2;
    border-color: #cad0e5;
}
.text-green {
    color: #8cb03a;
}
.h-150px {
    height: 150px;
}